.AudioPlayer{
    width: 100%;
    height: 100%;
    display: flex;
}
.AudioPlayer .PlayPauseButtonContainer{
    height: 200px;
    width: 200px;
    flex: 1;
}
.AudioPlayer .PlayPauseButtonContainer button{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: none;
    background-color: Transparent;
}
.AudioPlayer .SlideButtonsContainer{
    height: 200px;
    width: 100%;
    margin-left: 20px;
    flex: 4;
}
.AudioPlayer .PlayPauseButtonContainer img{
    height: 180px;
    width: 180px;
}
.AudioPlayer .buttonsTitleContainer{
    height: 150px;
    width: 100%;
    display: flex;
}
.AudioPlayer .buttonsTitleContainer .AlbumTitleContainer{
    flex: 1;
}
.AudioPlayer .buttonsTitleContainer .AlbumTitleContainer > div{
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    display: flex;
}
.AudioPlayer .buttonsTitleContainer .AlbumTitleContainer .ContainerText {
    flex: 1;
}
.AudioPlayer .buttonsTitleContainer .AlbumTitleContainer .ContainerProps{
    flex: 2;
}
.AudioPlayer .buttonsTitleContainer .AlbumTitleContainer .TitleContainer{
    font-size: 40px;
    line-height: 50px;
    overflow: hidden;
}
.AudioPlayer .buttonsTitleContainer .buttonsContainer{
    height: 150px;
    flex: 1;
    position: relative;   
}
.AudioPlayer .buttonsTitleContainer .buttonsContainer .buttons{
    text-align: right;
    margin-right: 20px;
}
.AudioPlayer .buttonsTitleContainer .buttonsContainer .buttons button{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: none;
    background-color: Transparent;
    margin: 0 5px;
}
.AudioPlayer .buttonsTitleContainer .buttonsContainer .buttons button img{
    height: 50px;
    width: 50px;
}
.AudioPlayer .buttonsTitleContainer .buttonsContainer .buttons .rangeSliderVolumeCotainer{
    float: right;
    height: 50px;
    width: 100px; 
    line-height: 50px;
}
.AudioPlayer .buttonsTitleContainer .buttonsContainer .buttons .rangeSliderVolumeCotainer .rangeSliderVolume{    
    height: 20px;
    width: 100px;
    appearance: none;
    outline: none;
}
.AudioPlayer .buttonsContainer .TimeCotainer {
    position: absolute;
    height: 50px;
    width: 100px;
    bottom: 0;
    right: 20px;
}
.AudioPlayer .buttonsContainer .TimeCotainer .CurrentTime{
    font-size: 20px;
    line-height: 50px;
    text-align: right;
}
.AudioPlayer  .rangeSliderCotainer{
    width: calc(100% - 20px);
    height: 50px;
    line-height: 50px;
    margin-bottom: 0px;
}
.AudioPlayer  .rangeSliderCotainer .rangeSlider{
    height: 20px;
    width: 100%;
    appearance: none;
    outline: none;
}
.AudioPlayer  .rangeSliderCotainer .rangeSlider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: #222222; 
    cursor: pointer;
    border-radius: 50%;
}
.AudioPlayer  .rangeSliderCotainer .rangeSlider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: #222222; 
    cursor: pointer;
    border-radius: 50%;
}



.AudioPlayer .buttonsTitleContainer .buttonsContainer .buttons .SelectedButton{
    background: #999999;
}