.MusicPlayerContainer{
    width: 100%;
    margin: 0 auto;
    display: flex;
}
.MusicPlayerContainer .LibraryCotainer{
    flex: 1;
    background: blue;
}
.MusicPlayerContainer .PlayerCotainer{
    flex: 1;    
}
.MusicPlayerContainer .PlayerCotainer .AudioPlayerContainer{
    width: 100%;
    height: 220px;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.MusicPlayerContainer .PlayerCotainer .PlaylistContainer{
    margin-top: 10px;
    width: 100%;
    border: solid;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}