.ItemRoot input[type=checkbox]{
    display: none;
}
.ItemV2{  
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: solid #222222; 
}
.ItemV2:hover{
    background: gray;
}
.ItemText{    
    width: 100%;
    height: 100%;
    line-height: 50px;
}
.ItemText span{    
   margin-left: 20px;
}
.CustomCheckBox{
    display: block;
    margin-top: 20px;
    cursor: pointer; 
    float: left;
}