*{ padding: 0px; margin: 0px; }
body
{	
	/* background: #333333 none repeat scroll 0 0; */
    background: black none repeat scroll 0 0;
    color: #fff;
}
a{ text-decoration: none;}
a:visited{ color: #bcbcbc}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
